@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #f4f6fa;
    --foreground: #313e51;
    --secondary: #ffffff;
    --secondary-foreground: #313e51;

    --navy: #3b4d66;
    --light-grey: #f4f6fa;
    --dark-navy: #313e51;
    --grey-nayy: #626c7f;
    --light-bluish: #abc1e1;
    --purple: #a729f5;
    --green: #26d782;
    --red: #f44336;
  }

  .dark {
    --background: #313e51;
    --foreground: #f4f6fa;
    --secondary: #3b4d66;
    --secondary-foreground: #ffffff;
  }
}

* {
  box-sizing: 'border-box';
  padding: 0;
  margin: 0;
}
